
@use '../custom' as *;

.datos-compartir {
    padding-bottom: 7rem;

    p {
        margin-bottom: 0 !important;
    }

    i {
        font-size: 1.5rem;
        color: $primary;
    }

    h2, h4 {
        margin-bottom: 0!important;
    }
    
    

    .links-whats, .links-sms, .links-fb, .links-twitter, .links-linkedin {
        .card {
            width: 8rem;
             i {
                font-size: 1.6rem;
             }
        }   

        .card-body {
            background-color: $primary;
            padding: 0;

            .card-text {
                color: $secondary;
                font-size: 1.4rem;
                text-decoration: none;
            }
        }
    }

    .links-whats {
        .card {
            background-color: green;
        }   
    }

    .links-sms {
        .card {
            background-color: rgb(0, 55, 128);
        }   
    }
    .links-fb{
        .card{
            background-color: #4e69a2;
        }
    }
    .links-twitter{
        .card{
            background-color: #33aaf3;
        }
    }
    .links-linkedin{
        .card{
            background-color: #1884bc;
        }
    }


}