//Colores
$blanco: #ededed;
$negro: #171717;
$azul: #002242;
$amarillo: #fdfe00;
$rojo: rgb(226, 40, 40);
$morado: #5d3089;

$verde: #21d442;
$gris: #313C4E;

$primary: $blanco;
$secondary: $azul;
$tercero: $amarillo;

$gradient: linear-gradient(180deg, rgba($blanco, .55), rgba($blanco, 0));
$enable-negative-margins: true;



//Tipografia
$headings-font-family: 'Roboto Slab', serif;
$headings-font-weight:        700;
$font-family-sans-serif: 'Roboto Slab', serif;
$font-size-root:    62.5%;

//Espaciado
$spacer: 5rem;

//Headings
$h1-font-size:        4.5rem       ;
$h2-font-size:        3.5rem       ;
$h3-font-size:        2.5rem      ;
$h4-font-size:        1.5rem       ;
$h5-font-size:        1rem       ;
$h6-font-size:        0.5rem    ;

//Menudropdown
$dropdown-border-width:   none; 
$dropdown-bg: $secondary;
$dropdown-link-hover-color:    #0f4e81;

//barra ce navegacion
$navbar-dark-color:    $primary;

//background



//importar todo bootstrap

@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../node_modules/bootstrap-icons/font/bootstrap-icons.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap');

